/* :root{
  --header-h: 80px;
} */

/* 헤더(상단) */
.header{
  height: 80px;
  background-color: black;
  padding: 0 20px 0 20px;

  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 좌: 1, 가운데: auto, 우: 1 */
  align-items: center;
  box-sizing: border-box;
  /* position: fixed; */
  width: 100%;
  position: fixed; /* 다시 고정! */
  top: 0;
  left: 0;
  z-index: 1000; /* 본문보다 위에 뜨게 */
}
.logo-img{
  width: 80px;
  height: 80px;
  display: block;
  object-fit: contain;
  justify-self: center; /* grid 중앙 정렬 */
  cursor: pointer;
}
.header-right{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  min-width: 70px;
}
.header-icon{
  font-size: 19px;
  cursor : pointer;
}
.navBar{
  max-height: 0px;    /* 밑의 content 내용이랑 겹침 */
  overflow: hidden; /* 겹치던 내용들 안보이게 */
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}
.navBar.open{
  margin-top: 80px; 
  max-height: 400px;
  opacity: 1;
}
.navBar ul{
  list-style-type: none;
  padding: 0px;
}
.navBar li{
  /* border-bottom: 1px solid black; */
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}
.navBar li:hover{
  color: gray;
}
.header-detail-wrapper{
  display: flex;
  justify-content: space-between;
}
.header-detail-wrapper:hover {
  color: gray;
}
/* .detail-tab-wrap{
  color: #212529;
} */
.detail-tab-wrap li{
  padding: 3px 20px 3px 15px;
  color: #212529;
  font-size: 14px;
}
.detail-tab-wrap{
  max-height: 0;    /* 밑의 content 내용이랑 겹침 */
  overflow: hidden; /* 겹치던 내용들 안보이게 */
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}
.detail-tab-wrap.open{
  max-height: 400px;
  opacity: 1;
}
.detail-tab-wrap li:hover{
  color: gray;
}
.detail-tab-icon{
  display: inline-block;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  font-size: 18px;
}
.detail-tab-icon.open{
  transform: rotate(180deg);
  /* opacity: 0.2; */
}
