*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* 전체 화면 */
.app-container{
  min-width: 360px;

  display: flex;
  flex-direction: column;
  min-height: 100vh
}
/* 메인 컨텐츠 화면 */
.main{
  flex:1;   /* header와 footer의 남은 부분을 다 차지해라 */
  /* padding: 30px; */
  padding: 20px;
}