*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body,#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* 전체 화면 */
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

/* 헤더(상단) */
.header{
  height: 80px;
  background-color: black;
}

/* 메인 컨텐츠 화면 */
.main{
  flex:1;
}

/* footer부분 (하단) */
.footer{
  height: 530px;
  background-color: black;
}